<div class="jumbotron" id="home">
	<div class="container">
		<h1>Jake Coffman</h1>

		<p>Full-Stack Software Developer</p>
		<!--<ul class="masthead-links">-->
		<!--<li><span class="label">Python</span></li>-->
		<!--<li><span class="label">Javascript</span></li>-->
		<!--<li><span class="label">Go</span></li>-->
		<!--</ul>-->
	</div>
</div>
<div class="push"></div>
<div class="container-fluid">
<article class="col-md-12">
	<div class="pad"></div>

	<div class="row">
		<div class="col-md-4">
			<h2 style="white-space: nowrap">Introducing Jake.</h2>
		</div>
		<div class="span8 hidden-phone">
			<hr/>
		</div>
	</div>
	<div class="pad"></div>
	<div class="row intro">
		<div class="col-md-4">
			<div class="thumbnail"><img class="marketing-img" src="/static/mvc.png"></div>
			<h3>Full-Stack</h3>

			<p>Jake is comfortable in any layer of the software stack, whether the architecture is n-tier or
				MVC.</p>
		</div>
		<div class="col-md-4">
			<div class="thumbnail"><img class="marketing-img" src="/static/ch.png"></div>
			<h3>Software hobbyist</h3>

			<p>Jake considers software a hobby and finds it fun to learn new things about writing (and
				reading!)
				software.</p>
		</div>
		<div class="col-md-4">
			<div class="thumbnail"><img class="marketing-img" src="/static/initech.png"></div>
			<h3>Gets things done</h3>

			<p>Jake values shipped products. What good is software that is constantly being refactored but
				never released?</p>
		</div>
	</div>
</article>
<div class="push"></div>
<div class="push"></div>
<article id="projects" class="col-md-12">
	<div class="pad"></div>

	<div class="row">
		<div class="col-md-3">
			<h2>Projects</h2>
		</div>
		<div class="col-md-9 hidden-phone">
			<hr/>
		</div>
	</div>
	<p>Here is a selection of Jake's projects. Click to read about each.</p>

	<div class="pad"></div>

	<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<a href="#projects/gorunner" class="thumbnail">
					<img src="/static/thumbs/gorunner.png">
				</a>

				<div class="caption">
					gorunner
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<a href="#projects/alarm" class="thumbnail">
					<img src="/static/thumbs/arduino.png">
				</a>

				<div class="caption">
					arduino security system
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<a href="#projects/flask_tutorial" class="thumbnail">
					<img src="/static/thumbs/flask.png">
				</a>

				<div class="caption">
					flask tutorial
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<a href="#projects/taskpy" class="thumbnail">
					<img src="/static/thumbs/taskpy.png">
				</a>

				<div class="caption">
					taskpy
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-offset-1 col-md-3">
			<div class="thumbnail">
				<a href="#projects/gameoflife" class="thumbnail">
					<img src="/static/thumbs/gol.png">
				</a>

				<div class="caption">
					game of life
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<a href="#projects/desk" class="thumbnail">
					<img src="/static/thumbs/desk.jpg">
				</a>

				<div class="caption">
					standing desk
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<a href="#projects/jobs" class="thumbnail">
					<img src="/static/thumbs/jobs.png">
				</a>

				<div class="caption">
					st louis jobs
				</div>
			</div>
		</div>
	</div>
	<div class="push"></div>
</article>
<div class="push"></div>
<article class="col-md-12" id="experience">
	<div class="pad"></div>

	<div class="row">
		<div class="col-md-3">
			<h2>Experience</h2>
		</div>
		<div class="col-md-9 hidden-phone">
			<hr/>
		</div>
	</div>
	<p>It would be difficult to capture everything Jake has done in his 7 years of experience, but here is an
		attempt.</p>

	<div class="pad"></div>

	<div class="row">
		<div class="col-md-3">
			<h3>Languages</h3>
			<ul class="unstyled">
				<li><span class="label label-danger">Python</span></li>
				<li><span class="label label-danger">Javascript</span></li>
				<li><span class="label label-danger">Go</span></li>
				<li><span class="label label-danger">C++</span></li>
				<li><span class="label label-danger">Java</span></li>
				<li><span class="label label-danger">Ruby</span></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h3>Libraries</h3>
			<ul class="unstyled">
				<li><span class="label label-info">Django</span></li>
				<li><span class="label label-info">AngularJS</span></li>
				<li><span class="label label-info">ActiveMQ</span></li>
				<li><span class="label label-info">Apache Camel</span></li>
				<li><span class="label label-info">Twitter Bootstrap</span></li>
				<li><span class="label label-info">jQuery</span></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h3>Architectures</h3>
			<ul class="unstyled">
				<li><span class="label label-success">REST</span></li>
				<li><span class="label label-success">RPC</span></li>
				<li><span class="label label-success">MVC</span></li>
				<li><span class="label label-success">n-Tier</span></li>
				<li><span class="label label-success">Cloud</span></li>
				<li><span class="label label-success">Map-Reduce</span></li>
				<li><span class="label label-success">Windows</span></li>
				<li><span class="label label-success">Unix/Linux</span></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h3>Technologies</h3>
			<ul class="unstyled">
				<li><span class="label label-warning">UDP</span></li>
				<li><span class="label label-warning">TCP</span></li>
				<li><span class="label label-warning">HTML</span></li>
				<li><span class="label label-warning">CSS</span></li>
				<li><span class="label label-warning">Encryption</span></li>
				<li><span class="label label-warning">SQL</span></li>
				<li><span class="label label-warning">HL7</span></li>
				<li><span class="label label-warning">Git</span></li>
			</ul>
		</div>
	</div>

	<div class="push"></div>
</article>
<div class="push"></div>
<article id="contact" class="col-md-12">
	<div class="pad"></div>

	<div class="row">
		<div class="col-md-3">
			<h2>Contact</h2>
		</div>
		<div class="col-md-9 hidden-phone">
			<hr/>
		</div>
	</div>
	<p>Fill out this form to send Jake an email. I am not interested in SEO!</p>

	<div class="pad"></div>

	<div class="row">
		<form method="post" action="/contact" class="form-vertical col-md-offset-2 col-md-8">
			<div class="control-group">
				<label class="control-label" for="email">Email:</label>

				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-envelope"></i></span>
						<input type="text" class="input-large" id="email" name="email" size="50"
							   placeholder="name@example.com"/> <br/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="subject">Subject:</label>

				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-asterisk"></i></span>
						<input type="text" class="input-large" id="subject" name="subject" size="50"
							   placeholder="reason for contact"/><br/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="message">Message:</label>

				<div class="controls">
					<textarea id="message" class="input-xlarge" name="message" rows="10"
							  cols="50"></textarea><br/>
				</div>
				<input type="submit" value="Send" class="btn btn-primary"/>
			</div>
		</form>
	</div>
	<div class="push"></div>
</article>
</div>