<div class="jumbotron indextron">
	<div class="inner">
		<h1>Jake Coffman</h1>
		<p>Software Developer</p>
		<p>St. Louis, MO</p>
		<br/>
		<p>This is my portfolio: a safe place for me to try crazy color schemes and page layouts.</p>
		<p>The boxes below are links. Click 'em.</p>
	</div>
</div>
<div class="row-main">
	<a href="#/projects">
		<div class="col-xs-4 main" style="background-color: darkorange">
			<h3>Projects</h3>
		</div>
	</a>
	<a href="#/blog">
		<div class="col-xs-4 main" style="background-color: purple">
			<h3>Something</h3>
		</div>
	</a>
	<a href="#/contact">
		<div class="col-xs-4 main" style="background-color: brown">
			<h3>Contact</h3>
		</div>
	</a>
</div>
