<div class="jumbotron projecttron">
	<div class="project-inner">
		<div class="pull-right">
			<a href="#" class="btn" style="background-color: midnightblue; color: white;"><i class="fa fa-home"></i>
				Home</a>
			<a href="#/contact" class="btn" style="background-color: brown; color: white;"><i class="fa fa-envelope"></i>
				Contact</a>
		</div>
		<h1>Projects</h1>

		<p>These are a few things I've done in my spare time.</p>

	</div>
</div>
<div class="row-projects">
	<a href="#/projects/alarm">
		<div class="col-xs-3 project" style="background-color: #632E9A;">
			<h3>Arduino Alarm</h3>

			<p>A door "alarm" that emails me and plays a noise when the door opens.</p>
		</div>
	</a>
	<a href="#/projects/desk">
		<div class="col-xs-3 project" style="background-color: #02A200;">
			<h3>Standing Desk</h3>

			<p>I built a standing desk from scratch.</p>
		</div>
	</a>
	<a href="#/projects/flask_tutorial">
		<div class="col-xs-3 project" style="background-color: #082AB0">
			<h3>Flask Tutorial</h3>

			<p>A series of videos for beginners to web development in Python.</p>
		</div>
	</a>
	<a href="#/projects/gameoflife">
		<div class="col-xs-3 project" style="background-color: #B9008A">
			<h3>Game of Life</h3>

			<p>An implementation of Game of Life in Angularjs.</p>
		</div>
	</a>
	<a href="#/projects/gorunner">
		<div class="col-xs-3 project" style="background-color: #00B8BA;">
			<h3>Gorunner</h3>

			<p>A continuous integration server built entirely with Go.</p>
		</div>
	</a>
	<a href="#/projects/jobs">
		<div class="col-xs-3 project" style="background-color: #FF5B27">
			<h3>StL Jobs</h3>

			<p>Visualization of indeed.com's technical jobs.</p>
		</div>
	</a>
</div>
