html, body {
    height: 100%;
}

body {
    background-color: white;
}

h2 {
    margin-top: 0;
    padding-top: 21px;
}

.inner {
    overflow: auto;
    padding-bottom: 150px;
}

.project-inner {
    overflow: auto;
    padding-bottom: 400px
}

.jumbotron {
    min-height: 100%;
    color: white;
    margin-bottom: 0;
}

.indextron {
    background-color: midnightblue;
}

.projecttron {
    background-color: darkorange;
}

.row-main {
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
}

/* There are 2 rows, so half of 100% - projecttron's height, yo. */
.row-projects {
    position: relative;
    margin-top: -400px;
    height: 400px;
    clear: both;
}

.container-main {
    padding: 0;
    margin: 0;
}

.main {
    height: 100%;
    color: white;
    width: 33.333%;
}

.project {
    height: 50%;
    color: white;
    width: 33.33%;
}