<div class="jumbotron" style="background-color: {{getColor(project)}}; color: white;">
	<div class="container">
		<div class="row">
			<div ng-include="'/templates/project_navigation.html'"></div>
			<h1>Standing Desk</h1>

			<p>I started getting interested in standing desks before they were affordable,
				so I built one myself. I highly recommend standing desks. </p>

			<div class="row">
				<div class="col-sm-6 col-md-4" ng-repeat="i in desk">
					<a href="{{i.href}}" class="thumbnail">
						<img src="{{i.href}}"/>
					</a>
				</div>
			</div>

		</div>
	</div>
</div>